openapi: 3.0.0
info:
  title: Weave Webhooks API
  description: API for handling transactions via webhook.
  version: 1.0.0
servers:
  - url: https://api.weave.services
paths:
  /api/webhooks/66e1cbb2a1b0d519f91bc82e:
    post:
      summary: Handle transactions via webhook
      operationId: postTransactionsWebhook
      parameters:
        - name: X-Tenant-ID
          in: query
          required: true
          schema:
            type: string
          example: dylanwong007@gmail.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transactions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      amount:
                        type: number
                      date:
                        type: string
                        format: date
                      description:
                        type: string
                      category:
                        type: string
                      status:
                        type: string
                      currency:
                        type: string
                      merchant:
                        type: string
                    required:
                      - id
                      - amount
                      - date
                      - description
      responses:
        '200':
          description: Transaction data processed successfully
        '400':
          description: Invalid request
        '500':
          description: Internal server error
components:
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
        date:
          type: string
          format: date
        description:
          type: string
        category:
          type: string
        status:
          type: string
        currency:
          type: string
        merchant:
          type: string
      required:
        - id
        - amount
        - date
        - description
