openapi: 3.0.0
info:
  title: Weave API
  version: '1.0'
  description: Weave API application
servers:
  - url: https://api.weave.com
paths:
  /api:
    get:
      summary: App Health
      responses:
        '200':
          description: Successful response
  /api/workflows:
    get:
      summary: Retrieve all workflows
      responses:
        '200':
          description: Successful response
    post:
      summary: Create a new workflow
      responses:
        '201':
          description: Workflow created
  /api/workflows/{workflow_id}:
    get:
      summary: Retrieve a specific workflow
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
    put:
      summary: Update a specific workflow
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow updated
    delete:
      summary: Delete a specific workflow
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Workflow deleted
  /api/workflows/{workflow_id}/executions:
    get:
      summary: Retrieve executions for a specific workflow
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
  /api/workflows/deploy/{workflow_id}:
    post:
      summary: Deploy a specific workflow
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow deployed
  /api/workflows/health:
    get:
      summary: Workflows service health check
      responses:
        '200':
          description: Service is healthy
  /api/executions/workflow/{workflow_id}:
    get:
      summary: Retrieve executions for a specific workflow
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
  /api/executions/{execution_id}:
    get:
      summary: Retrieve a specific execution
      parameters:
        - name: execution_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
  /api/executions/health:
    get:
      summary: Executions service health check
      responses:
        '200':
          description: Service is healthy
  /api/webhooks/workflow/{workflow_id}:
    get:
      summary: Retrieve webhooks for a specific workflow
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
    post:
      summary: Create a webhook for a specific workflow
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Webhook created
  /api/webhooks/health:
    get:
      summary: Webhooks service health check
      responses:
        '200':
          description: Service is healthy
  /api/workspaces:
    get:
      summary: Retrieve all workspaces
      responses:
        '200':
          description: Successful response
    post:
      summary: Create a new workspace
      responses:
        '201':
          description: Workspace created
  /api/workspaces/{workspace_id}:
    get:
      summary: Retrieve a specific workspace
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
    put:
      summary: Update a specific workspace
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workspace updated
    delete:
      summary: Delete a specific workspace
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Workspace deleted
  /api/workspaces/health:
    get:
      summary: Workspaces service health check
      responses:
        '200':
          description: Service is healthy
components:
  schemas:
    WorkflowDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    WorkspaceDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
